body{
   background-color:rgb(251, 86, 114)


}

#kevo{
    background-color: aqua;
}
button{
    background-color: green;
}
#D1{
    background-color: green;
    text-align: center;

}